@font-face {
  font-family: MabninogiClassic;
  src: url(./assets/Mabinogi_Classic_OTF.woff);
}

.App {
  text-align: center;
  font-family: MabninogiClassic;
  height: 100%;
}

button {
  font-family: MabninogiClassic;
  background-color: #A0A0A0;
}

button:hover {
  background-color: #808080;
}

button:disabled {
  background-color: #202020;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
